@model IEnumerable<Shop.Models.OrderItem>

@{
    ViewBag.Title = "Basket";
}

<h2>Корзина</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemsCount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Item.Id-tr">
            <td>
                @Html.DisplayFor(modelItem => item.Item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td class="display-flex">
                <input type="button" class="btn btn-default basket-button-input" value="+" id="@item.Item.Id" onclick="addCount(event)" />
                @Html.EditorFor(modelItem => item.ItemsCount, new { htmlAttributes = new { @class = "form-control basket-count-input", @readonly = "readonly", id = $"{item.Item.Id}-count" } })
                <input type="button" class="btn btn-default basket-button-input" value="-" id="@item.Item.Id" onclick="reduceCount(event)" />
            </td>
        </tr>
    }

</table>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Оформить заказ", "Confirm")
}
else
{
    <span>Для подтверждения заказа выполните вход!</span>
}

<script>
    function addCount(event) {
        event.preventDefault();
        Ext.Ajax.request({
            method: 'POST',
            url: '/Basket/Add',
            params: {
                "id": event.target.id
            },
            success: function (response, options) {
                var rText = response.responseText;
                var countInput = Ext.get(event.target.id + "-count");
                countInput.set({ value: rText });
            },
            failure: function (response, options) {
                alert("Ошибка");
                window.location.reload();
            }
        });
    }

    function reduceCount(event) {
        event.preventDefault();
        Ext.Ajax.request({
            method: 'POST',
            url: '/Basket/Reduce',
            params: {
                "id": event.target.id
            },
            success: function (response, options) {
                var rText = response.responseText;
                if (rText > 0) {
                    var countInput = Ext.get(event.target.id + "-count");
                    countInput.set({ value: rText });
                }
                else {
                    var tr = Ext.get(event.target.id + "-tr");
                    tr.remove();
                }
            },
            failure: function (response, options) {
                alert("Ошибка");
                window.location.reload();
            }
        });
    }
</script>
