<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="container">
            @Html.ActionLink("Каталог", "Index", "Catalog")
            @Html.ActionLink("Заказы", "Index", "Order")

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Пользователи", "Index", "User")
            }
            else
            {
                @Html.ActionLink("Корзина", "Index", "Basket")
            }

            <div class="user-container">
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
